[alias]
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit

[alias]
  heir = log --all --graph --decorate --oneline --simplify-by-decoration

[alias]
  lb = "!for i in $(seq 1 20); do git rev-parse --abbrev-ref @{-$i} 2> /dev/null; done"
